@{
    ViewBag.Title = "About";
}
<div class="contDataStyling">
    <div id="intro" class="header-container fs">
        <header class="wrapper">
            <h1 class="title">Sallinet </h1>
            <p>Salli is an IT Sligo student project</p>
          <h3>Our Project Sources</h3>  
            <p> GitHub - https://github.com/orgs/project-awesome-300 </p>
            <p> Blog - https://projectawesome1718.wordpress.com/ </p>
            <p> Target Process - https://salli.tpondemand.com </p>
        </header>
        <span class="scroll-hint">Scroll Down</span>
    </div>
</div>