@{
    ViewBag.Title = "About";
}
<div class="contDataStyling">
    <div id="intro" class="header-container fs">
        <header class="wrapper">
            <h1 class="title">Sallinet </h1>
            <p>Salli is an IT Sligo student project</p>
            
        </header>
        <span class="scroll-hint">Scroll Down</span>
    </div>
</div>