@{
    ViewBag.Title = "About";
}
<div class="contDataStyling">
    <div id="intro" class="header-container fs">
        <header class="wrapper">
            <h1 class="title">Sallinet </h1>
            <p>Salli is an IT Sligo Group project.</p>
        </header>
        <h2>Our Vision</h2>
        <div style="width:50%">
            “For tourists who want local and real-time information, 
            the Project Awesome Box is a tourist information point 
            that provides local, relevant, up-to-date information. 
            Unlike the current stationary information points and 
            print media available, our project is interactive and fun! ”
        </div>
          <h3>Our Project Sources</h3>  
       
                <a href="https://github.com/orgs/project-awesome-300" style="font-size:20px">GitHub</a>
           <br/>
                <a href="https://projectawesome1718.wordpress.com/" style="font-size:20px">Our Blog</a>
          <br/>
                <a href="https://salli.tpondemand.com" style="font-size:20px">Target Process</a>
        
       
        </div>
</div>