@{
    ViewBag.Title = "Home";
}
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <div class="text-center">
            <img src="@Url.Content("~/Content/Images/logosally.png")" alt="Sallinet" class="img-responsive" />
        </div>
    </div>
    <div class="col-md-8">
        <div class="jumbotron">
            <div class="container-fluid">
                <p class="lead">Welcome to the SALLI Content Site.</p>
                <p><a href="https://projectawesome1718.wordpress.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
