@{
    ViewBag.Title = "Home";
}

<div class="row">        
            <div class="col-12" style="margin: 0 0 0 280px">
                @if (!Request.IsAuthenticated)
                {
                    @Html.Partial("_Login")
                }
                else
                {
                    @Html.Partial("_Dashboard")
                }

            </div>
        </div>
