@model IEnumerable<CMS.Models.CMSModel.Device>

@{
    ViewBag.Title = "Devices";
}

<h2>Devices</h2>

<table class="table" id="devices">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Location
        </th>
        <th>
            Build
        </th>
        <th>
        </th>
    </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#devices").DataTable({
                ajax: {
                    url: "/api/devices",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "deviceID"
                    },
                    {
                        data: "associatedLocation.name"
                    },
                    {
                        data: "build"
                    },
                    {
                        data: "deviceID",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-device-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });


            $("#devices").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this device?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/devices/" + button.attr("data-device-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
</script>
   
}