@model IEnumerable<CMS.Models.CMSModel.EventCategory>

@{
    ViewBag.Title = "EventCategories";
}
<div class="contDataStyling">
    <h2>Event Categories</h2>
    <p>
        @Html.ActionLink("New Event Category", "New", "EventCategories", null, new { @class = "btn btn-primary" })
    </p>

    <table class="table" id="eventCategories">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    </div>

    @section scripts
{
        <script>
            $(document).ready(function () {
                var table = $("#eventCategories").DataTable({
                    "paging": false,
                    "searching": false,
                    "info": false,
                    ajax: {
                        url: "/api/eventCategories",
                        dataSrc: ""
                    },
                    columns: [
                        {
                            data: "eventCategoryId"
                        },
                        {
                            data: "name",
                            render: function (data, type, eventCategory) {
                                return "<a href='/eventCategories/edit/" + eventCategory.eventCategoryId + "'>" + eventCategory.name + "</a>";
                            }
                        },
                        {
                            "orderable": false,
                            data: "eventCategoryId",
                            render: function (data) {
                                return "<button class='btn btn-warning js-delete' data-eventCategory-id=" + data + ">Delete</button>";
                            }
                        }
                    ]
                });

                $("#eventCategories").on("click", ".js-delete", function () {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this event category?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/eventCategories/" + button.attr("data-eventCategory-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                    toastr.success("Event Category deleted.");
                                },
                                error: function (xmlHttpRequest, textStatus) {
                                    toastr.error("Error: " + textStatus);
                                }
                            });
                        }
                    });
                });
            });
        </script>

    }
