<div class="row" style="margin-top:-30px">
    <div class="col-lg-12" style="width: 98%">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-clock-o fa-fw"></i> Timeline
            </div>
            <div class="panel-body">
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Next Event - March</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Mud Bog March 21st, 22nd, 23rd, and 24th
                                    Open Wednesday March 21st at 8am - Close Saturday March 24th at 5pm
                                </p>
                                <p>All Trucks / ATVs / SXSs / UTVs / Campers / RVs are welcome Primitive camping is always available and is 1st come 1st serve This will be the only weekend we are open in March so don't miss it!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge success">
                            <i class="fa fa-save"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Dive Ireland International Expo</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Dive Ireland International Expo is a 2 day event being held from 13th March to 14th March 2018 at the Radisson Blu Hotel, Limerick in Limerick, Ireland. This event gathers a large array of exhibitors who tries to tempt the attendees. Timings 9am - 6pm (Expected)</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge danger">
                            <i class="fa fa-bomb"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Exciting One</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Sea Sessions- Surf Music Festival, Bundoran Donegal Ireland
                                    Starting from JUNE 22-JUNE 24, 2018 For more information visit their website
                                </p>
                                <p>  <a href="http://seasessions.com/ "> Sea Sessions</a> </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="col-md-4" style="margin : 0 0 0 345px">
                    <div class="text-center">
                        <img src="@Url.Content("~/Content/Images/logosally.png")" alt="Sallinet" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>