<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">SALLI Content Mangement System</a>
        </div>
        <ul class="nav navbar-top-links navbar-right">

            <li>
                @Html.Partial("_LoginPartial")
            </li>
        </ul>
    </nav>
</div>