@model IEnumerable<CMS.Models.CMSModel.Location>

@{
    ViewBag.Title = "Locations";
}
<div class="contDataStyling">
    <h2>Locations</h2>

    <p>
        @Html.ActionLink("Create New", "New", "Locations", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table" id="locations">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Town
                </th>
                <th>
                    County
                </th>
                <th>
                    Latitude
                </th>
                <th>
                    Longituate
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    </div>


    @section scripts
{
        <script>
            $(document).ready(function () {
                var table = $("#locations").DataTable({
                    "paging": false,
                    "searching": false,
                    "info": false,
                    ajax: {
                        url: "/api/locations",
                        dataSrc: ""
                    },
                    columns: [
                        {
                            data: "locationId"
                        },
                        {
                            data: "name",
                            render: function (data, type, location) {
                                return "<a href='/locations/edit/" + location.locationId + "'>" + location.name + "</a>";
                            }
                        },
                        {
                            data: "town"
                        },
                        {
                            data: "county"
                        },
                        {
                            data: "lat"
                        },
                        {
                            data: "lng"
                        },
                        {
                            "orderable": false,
                            data: "locationId",
                            render: function (data) {
                                return "<a href='/locations/edit/" + data + "' class='btn btn-info list-button-info' role='button'><i class='fa fa-info'></i></a>";
                            }
                        },
                        {
                            "orderable": false,
                            data: "locationId",
                            render: function (data) {
                                return "<button class='btn btn-danger js-delete list-button-delete' data-location-id=" + data + "><i class='fa fa-trash'></i></button>";
                            }
                        }
                    ]
                });


                $("#locations").on("click", ".js-delete", function () {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this location?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/locations/" + button.attr("data-location-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                    toastr.success("Location deleted.");
                                },
                                error: function (xmlHttpRequest, textStatus) {
                                    toastr.error("Error: " + textStatus);
                                }
                            });
                        }
                    });
                });
            });
        </script>

    }
